.Skills{    
    background-color: var(--colorPrimario);
}
.Skills_titulo{
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
}
.Skills_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  space-between;    
}
.Skills_card{  
    width: 400px;    
    padding: 2rem;    
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
    background-color: var(--colorContraste);
}
.Skills_card_titulo{    
    font-size: 1.5rem;
    line-height: 2rem;
}
.Skills_card_texto{    
    line-height: 1.5rem;
}
.Skills_card_imagenes{  
    padding-top: 1rem;
    text-align: center;
    
}
.Skills_card_imagenes_img{
    width: 70px;  
    margin: 0.05rem;  
}
@media  only screen and (max-width: 1024px)  {
    .Skills_cards{                
        justify-content: center;
    }
}
