.SobreMi{
    background-color: var(--colorPrimario);    
    }
.SobreMi_titulo{       
    padding-left: 5%;
    font-size: 2rem; 
    line-height: 5rem;
}
.SobreMi_texto{
    text-align: justify;
    padding-right: 40%;
    padding-left: 5%;
    line-height: 1.25rem;
}
.SobreMi_img{
    padding-left: 5%;
    width: 15rem;
}
@media  only screen and (max-width: 1024px)  {
    .SobreMi_texto{
        padding-right: 11%;
    }
}